<ion-header>
  <ion-toolbar>
    <ion-title>Reactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-reorder-group disabled="false" (ionItemReorder)="reorder($event)">
      <ion-item [routerLink]="['/display-card/👍']">
        <ion-label>
          👍
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item [routerLink]="['/display-card/👎']">
        <ion-label>
          👎
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item [routerLink]="['/display-card/🙂']">
        <ion-label>
          🙂
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item [routerLink]="['/display-card/🙁']">
        <ion-label>
          🙁
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item [routerLink]="['/display-card/😉']">
        <ion-label>
          😉
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item [routerLink]="['/display-card/😖']">
        <ion-label>
          😖
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item [routerLink]="['/display-card/😴']">
        <ion-label>
          😴
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item [routerLink]="['/display-card/😲']">
        <ion-label>
          😲
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>